<div class="error" *ngIf="error">{{error}}</div>
<div class="product-container">
    <table class="table table-striped product-container-table">
        <thead>
        <tr>
            <th class="thtiny">
                <input placeholder="ID" title="Product ID" class="form-control" type="text"
                       (ngModelChange)="onProductIdSearch($event)" [(ngModel)]="productIdSearch"/>
            </th>
            <th class="thlarge">
                <input placeholder="Name" title="Product Name" class="form-control" type="text"
                       (ngModelChange)="onProductNameSearch($event)" [(ngModel)]="productNameSearch"/>
            </th>
            <th class="thsmall">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category1values"
                           (selected)="onProductCategory1Search($event)"
                           (removed)="onProductCategory1Search({'id':'','text':''})"
                           placeholder="Category1" title="Categry1">
                </ng-select>
            </th>
            <th class="thsmall">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category2values"
                           (selected)="onProductCategory2Search($event)"
                           (removed)="onProductCategory2Search({'id':'','text':''})"
                           placeholder="Category2" title="Categry2">
                </ng-select>
            </th>
            <th class="thsmall">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category3values"
                           (selected)="onProductCategory3Search($event)"
                           (removed)="onProductCategory3Search({'id':'','text':''})"
                           placeholder="Category3" title="Categry3">
                </ng-select>
            </th>
            <th class="thtiny">
                <ng-select class="wide" [allowClear]="true"
                           [items]="prices"
                           (selected)="onProductPriceSearch($event)"
                           (removed)="onProductPriceSearch({'id':'','text':''})"
                           placeholder="PR" title="Price">
                </ng-select>
            </th>
            <th class="thtiny">
                <ng-select class="wide" [allowClear]="true"
                           [items]="brands"
                           (selected)="onProductBrandSearch($event)"
                           (removed)="onProductBrandSearch({'id':'','text':''})"
                           placeholder="BR" title="Brand">
                </ng-select>
            </th>
            <th class="thtiny">
                <ng-select class="wide" [allowClear]="true"
                           [items]="sizes"
                           (selected)="onProductSizeSearch($event)"
                           (removed)="onProductSizeSearch({'id':'','text':''})"
                           placeholder="SZ" title="Size">
                </ng-select>
            </th>
            <th class="thtiny">
                <ng-select class="wide" [allowClear]="true"
                           [items]="discounts"
                           (selected)="onOfferDiscountSearch($event)"
                           (removed)="onOfferDiscountSearch({'id':'','text':''})"
                           placeholder="DISC" title="Discount">
                </ng-select>
            </th>
            <th class="thtiny">
                <input placeholder="OID" title="Offer ID" class="form-control" type="text"
                       (ngModelChange)="onOfferIdSearch($event)" [(ngModel)]="offerIdSearch"/>
            </th>
            <th class="thlarge">
                <input placeholder="Offer Name" title="Offer Name" class="form-control" type="text"
                       (ngModelChange)="onOfferNameSearch($event)" [(ngModel)]="offerNameSearch"/>
            </th>
            <th class="thtiny">
                <ng-select class="wide" [allowClear]="true"
                           [items]="yesno"
                           (selected)="onProductActivatedPimSearch($event)"
                           (removed)="onProductActivatedPimSearch({'id':'','text':''})"
                           placeholder="ACT" title="Activated PIM?">
                </ng-select>
            </th>
            <th class="thsmall">
                <input placeholder="Valid From" title="Valid From" class="form-control" type="text"
                       (ngModelChange)="onOfferValidFromSearch($event)"
                       [(ngModel)]="offerValidFromSearch"/>
            </th>
            <th class="thsmall">
                <input placeholder="Valid To" title="Valid To" class="form-control" type="text"
                       (ngModelChange)="onOfferValidToSearch($event)"
                       [(ngModel)]="offerValidToSearch"/>
            </th>
            <th class="thtiny">
                <ng-select class="wide" [allowClear]="true"
                           [items]="yesno"
                           (selected)="onOfferSuspendedSearch($event)"
                           (removed)="onOfferSuspendedSearch({'id':'','text':''})"
                           placeholder="SUS" title="Suspended">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products" (mousedown)="onProductSelect(product);true"
            [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id">
            <td class="tdtiny">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.id"/>
            </td>
            <td class="tdlarge">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.name"/>
            </td>
            <td class="tdsmall">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.category1"/>
            </td>
            <td class="tdsmall">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.category2"/>
            </td>
            <td class="tdsmall">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.category3"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.price"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.brand"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [ngModel]="product.size"/>
            </td>
            <td class="tdtiny">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="product.offer.discount"/>
            </td>
            <td class="tdtiny">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.offerId"/>
            </td>
            <td class="tdlarge">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="product.offer.name"/>
            </td>
            <td class="tdtiny">
                <input class="wide" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" type="text" *ngIf="product.activatedPim" readonly="true" value="Yes" />
                <input class="wide" [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" type="text" *ngIf="!product.activatedPim" readonly="true" value="No" />
            </td>
            <td class="tdsmall">
                <input *ngIf="product.offer != null" class="wide" [class.selected]="product.id === selectedProduct.id"
                       type="text"
                       placeholder="yyyy-mm-dd"
                       [class.invalid]="invalidOfferMap[product.offer.id]?.validFrom" title="invalidOfferMap[product.offer.id]?.validFrom"
                       [ngModel]="formatDate(product.offer.validFrom)" (change)="onOfferChangeValidFrom(product.offer, $event.target.value, false)" />
            </td>
            <td class="tdsmall">
                <input *ngIf="product.offer != null" class="wide" [class.selected]="product.id === selectedProduct.id"
                       type="text"
                       placeholder="yyyy-mm-dd"
                       [class.invalid]="invalidOfferMap[product.offer.id]?.validTo" title="invalidOfferMap[product.offer.id]?.validTo"
                       [ngModel]="formatDate(product.offer.validTo)" (change)="onOfferChangeValidTo(product.offer, $event.target.value, false)" />
            </td>
            <td class="tdtiny">
                <md-slide-toggle *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" [(ngModel)]="product.offer.suspended"
                                 (change)="onOfferSuspendedChange($event, product.offer)"></md-slide-toggle>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="details-container">
    <table class="table table-striped details-container-table">
        <thead>
        <tr>
            <th class="thlarge">
                Description
            </th>
            <th class="thtiny" title="Demand ID">
                DID
            </th>
            <th class="thtiny" title="Demand Count">
                DCNT
            </th>
            <th class="thtiny" title="Benefit ID">
                BID
            </th>
            <th class="thtiny" title="Comb Max">
                CMAX
            </th>
            <th class="thtiny" title="Comb Type">
                CT
            </th>
            <th class="thtiny" title="Comb Card Prefix">
                CCP
            </th>
            <th class="thtiny" title="Comb Stacking">
                CS
            </th>
            <th class="thsmall" title="Comb External ID">
                CExtID
            </th>
            <th class="thlarge">
                Picture URL
            </th>
            <th class="thtiny" title="Rank">
                RNK
            </th>
            <th class="thtiny" title="Show Picture?">
                SP
            </th>
        </tr>
        </thead>
        <tbody *ngIf="selectedProduct.id != ''">
        <tr [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true">
            <td class="tdlarge">
                <input readonly="true" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.description"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.demandId"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.demandCount"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.benefitId"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.combMax"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.combType"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.combCardPrefix"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.combStacking"/>
            </td>
            <td class="tdsmall">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.combExternalId"/>
            </td>
            <td class="tdlarge">
                <input readonly="true" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.pictureUrl"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" *ngIf="selectedProduct.offer != null" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.offer.rank"/>
            </td>
            <td class="tdtiny">
                <input readonly="true" [class.unassigned]="selectedProduct.offerId == ''" [class.selected]="true" class="wide"
                       type="text"
                       [ngModel]="selectedProduct.showPicture"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>