<div class="error" *ngIf="error">{{error}}</div>
<div class="product-container">
    <table class="table table-striped product-container-table">
        <thead>
        <tr>
            <th class="th1">
                <input placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onProductNameSearch($event)" [(ngModel)]="productNameSearch"/>
            </th>
            <th class="th2">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category1values"
                           (selected)="onProductCategory1Search($event)"
                           (removed)="onProductCategory1Search({'id':'','text':''})"
                           placeholder="Category1" title="Categry1">
                </ng-select>
            </th>
            <th class="th3">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category2values"
                           (selected)="onProductCategory2Search($event)"
                           (removed)="onProductCategory2Search({'id':'','text':''})"
                           placeholder="Category2" title="Categry2">
                </ng-select>
            </th>
            <th class="th4">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category3values"
                           (selected)="onProductCategor3Search($event)"
                           (removed)="onProductCategory3Search({'id':'','text':''})"
                           placeholder="Category3" title="Categry3">
                </ng-select>
            </th>
            <th class="th5">
                <input placeholder="ID" title="ID" class="form-control" type="text"
                       (ngModelChange)="onOfferIdSearch($event)" [(ngModel)]="offerIdSearch"/>
            </th>
            <th class="th6">
                <input placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onOfferNameSearch($event)" [(ngModel)]="offerNameSearch"/>
            </th>
            <th class="th7">
                <ng-select class="wide" [allowClear]="true"
                           [items]="combTypes"
                           (selected)="onOfferCombTypeSearch($event)"
                           (removed)="onOfferCombTypeSearch({'id':'','text':''})"
                           placeholder="CT" title="Combination Type">
                </ng-select>
            </th>
            <th class="th8">
                <ng-select class="wide" [allowClear]="true"
                           [items]="demandIds"
                           (selected)="onOfferDemandIdSearch($event)"
                           (removed)="onOfferDemandIdSearch({'id':'','text':''})"
                           placeholder="DID" title="Demand ID">
                </ng-select>
            </th>
            <th class="th9">
                <ng-select class="wide" [allowClear]="true"
                           [items]="demandCounts"
                           (selected)="onOfferDemandCountSearch($event)"
                           (removed)="onOfferDemandCountSearch({'id':'','text':''})"
                           placeholder="DCN" title="Demand Count">
                </ng-select>
            </th>
            <th class="th10">
                <ng-select class="wide" [allowClear]="true"
                           [items]="benefitIds"
                           (selected)="onOfferBenefitIdSearch($event)"
                           (removed)="onOfferBenefitIdSearch({'id':'','text':''})"
                           placeholder="BID" title="Benefit ID">
                </ng-select>
            </th>
            <th class="th11">
                <ng-select class="wide" [allowClear]="true"
                           [items]="discounts"
                           (selected)="onOfferDiscountSearch($event)"
                           (removed)="onOfferDiscountSearch({'id':'','text':''})"
                           placeholder="DISC" title="Discount">
                </ng-select>
            </th>
            <th class="th12">
                <ng-select class="wide" [allowClear]="true"
                           [items]="combMaxs"
                           (selected)="onOfferCombMaxSearch($event)"
                           (removed)="onOfferCombMaxSearch({'id':'','text':''})"
                           placeholder="CM" title="Comb Max">
                </ng-select>
            </th>
            <th class="th13">
                <input placeholder="Valid From" title="Valid From" class="form-control" type="text"
                       (ngModelChange)="onOfferValidFromSearch($event)"
                       [(ngModel)]="offerValidFromSearch"/>
            </th>
            <th class="th14">
                <input placeholder="Valid To" title="Valid To" class="form-control" type="text"
                       (ngModelChange)="onOfferValidToSearch($event)"
                       [(ngModel)]="offerValidToSearch"/>
            </th>
            <th class="th15">
                <ng-select class="wide" [allowClear]="true"
                           [items]="yesno"
                           (selected)="onOfferSuspendedSearch($event)"
                           (removed)="onOfferSuspendedSearch({'id':'','text':''})"
                           placeholder="SUS" title="Suspended">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products" (mousedown)="onProductSelect(product);true"
            [class.selected]="product.id === selectedProduct.id">
            <td class="td1">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.name"/>
            </td>
            <td class="td2">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category1"/>
            </td>
            <td class="td3">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category2"/>
            </td>
            <td class="td4">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category3"/>
            </td>
            <td class="td1">
                <input [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [(ngModel)]="offer.id" readonly="true"/>
            </td>
            <td class="td2">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.name"/>
            </td>
            <td class="td3">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.combType"/>
            </td>
            <td class="td4">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.demandId"/>
            </td>
            <td class="td5">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.demandCount"/>
            </td>
            <td class="td6">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.benefitId"/>
            </td>
            <td class="td7">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.discount"/>
            </td>
            <td class="td8">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [(ngModel)]="offer.combMax"/>
            </td>
            <td class="td9">
                <material-datepicker (blur)="saveOffer(product.offer)" [(date)]="product.offer.validFrom"></material-datepicker>
            </td>
            <td class="td10">
                <material-datepicker (blur)="saveOffer(product.offer)" [(date)]="product.offer.validTo"></material-datepicker>
            </td>
            <td class="tdlast">
                <md-slide-toggle [class.selected]="product.id === selectedProduct.id" [(ngModel)]="product.offer.suspended"
                                 (change)="onOfferSuspendedChange($event, offer)"></md-slide-toggle>
            </td>
        </tr>
        </tbody>
    </table>
</div>