<div class="error" *ngIf="error">{{error}}</div>
<div class="row">
    <div class="form-group col-md-2">
        <ng-select [allowClear]="false"
                   [items]="groups"
                   [active]="groupSelected"
                   (selected)="onGroupSelect($event)"
                   (removed)="onGroupSelect({'id':'Group1','text':'Group1'})">
        </ng-select>
    </div>
</div>
<div class="product-container">
    <table class="table table-striped product-container-table">
        <thead>
        <tr>
            <th class="thtiny">
                <input placeholder="ID" title="ID" class="form-control" type="text"
                       (ngModelChange)="onProductIdSearch($event)" [(ngModel)]="productIdSearch"/>
            </th>
            <th class="thlarge">
                <input placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onProductNameSearch($event)" [(ngModel)]="productNameSearch"/>
            </th>
            <th class="thsmall" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category1values"
                           (selected)="onProductCategory1Search($event)"
                           (removed)="onProductCategory1Search({'id':'','text':''})"
                           placeholder="Category1" title="Categry1">
                </ng-select>
            </th>
            <th class="thsmall" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category2values"
                           (selected)="onProductCategory2Search($event)"
                           (removed)="onProductCategory2Search({'id':'','text':''})"
                           placeholder="Category2" title="Categry2">
                </ng-select>
            </th>
            <th class="thsmall" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category3values"
                           (selected)="onProductCategory3Search($event)"
                           (removed)="onProductCategory3Search({'id':'','text':''})"
                           placeholder="Category3" title="Categry3">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group2'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="prices"
                           (selected)="onProductPriceSearch($event)"
                           (removed)="onProductPriceSearch({'id':'','text':''})"
                           placeholder="PR" title="Price">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group2'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="brands"
                           (selected)="onProductBrandSearch($event)"
                           (removed)="onProductBrandSearch({'id':'','text':''})"
                           placeholder="BR" title="Brand">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group2'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="sizes"
                           (selected)="onProductSizeSearch($event)"
                           (removed)="onProductSizeSearch({'id':'','text':''})"
                           placeholder="SZ" title="Size">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group2'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="yesno"
                           (selected)="onProductActivatedPimSearch($event)"
                           (removed)="onProductActivatedPimSearch({'id':'','text':''})"
                           placeholder="ACT" title="Activated PIM?">
                </ng-select>
            </th>
            <th class="thlarge" *ngIf="group == 'Group2'">
                <input placeholder="Picture" title="Picture URL" class="form-control" type="text"
                       (ngModelChange)="onProductPictureUrlSearch($event)" [(ngModel)]="productPictureUrlSearch"/>
            </th>
            <th class="thlarge" *ngIf="group == 'Group2'">
                <input placeholder="Description" title="Description" class="form-control" type="text"
                       (ngModelChange)="onProductDescriptionSearch($event)" [(ngModel)]="productDescriptionSearch"/>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <input placeholder="OID" title="Offer ID" class="form-control" type="text"
                       (ngModelChange)="onOfferIdSearch($event)" [(ngModel)]="offerIdSearch"/>
            </th>
            <th class="thlarge" *ngIf="group == 'Group1'">
                <input placeholder="Offer Name" title="Offer Name" class="form-control" type="text"
                       (ngModelChange)="onOfferNameSearch($event)" [(ngModel)]="offerNameSearch"/>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="combTypes"
                           (selected)="onOfferCombTypeSearch($event)"
                           (removed)="onOfferCombTypeSearch({'id':'','text':''})"
                           placeholder="CT" title="Combination Type">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="demandIds"
                           (selected)="onOfferDemandIdSearch($event)"
                           (removed)="onOfferDemandIdSearch({'id':'','text':''})"
                           placeholder="DID" title="Demand ID">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="demandCounts"
                           (selected)="onOfferDemandCountSearch($event)"
                           (removed)="onOfferDemandCountSearch({'id':'','text':''})"
                           placeholder="DCN" title="Demand Count">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="benefitIds"
                           (selected)="onOfferBenefitIdSearch($event)"
                           (removed)="onOfferBenefitIdSearch({'id':'','text':''})"
                           placeholder="BID" title="Benefit ID">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="discounts"
                           (selected)="onOfferDiscountSearch($event)"
                           (removed)="onOfferDiscountSearch({'id':'','text':''})"
                           placeholder="DISC" title="Discount">
                </ng-select>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="combMaxs"
                           (selected)="onOfferCombMaxSearch($event)"
                           (removed)="onOfferCombMaxSearch({'id':'','text':''})"
                           placeholder="CM" title="Comb Max">
                </ng-select>
            </th>
            <th class="thsmall" *ngIf="group == 'Group1'">
                <input placeholder="Valid From" title="Valid From" class="form-control" type="text"
                       (ngModelChange)="onOfferValidFromSearch($event)"
                       [(ngModel)]="offerValidFromSearch"/>
            </th>
            <th class="thsmall" *ngIf="group == 'Group1'">
                <input placeholder="Valid To" title="Valid To" class="form-control" type="text"
                       (ngModelChange)="onOfferValidToSearch($event)"
                       [(ngModel)]="offerValidToSearch"/>
            </th>
            <th class="thtiny" *ngIf="group == 'Group1'">
                <ng-select class="wide" [allowClear]="true"
                           [items]="yesno"
                           (selected)="onOfferSuspendedSearch($event)"
                           (removed)="onOfferSuspendedSearch({'id':'','text':''})"
                           placeholder="SUS" title="Suspended">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products" (mousedown)="onProductSelect(product);true"
            [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id">
            <td class="tdtiny">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text" readonly="true"
                       [(ngModel)]="product.id"/>
            </td>
            <td class="tdlarge">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.name"/>
            </td>
            <td class="tdsmall" *ngIf="group == 'Group1'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category1"/>
            </td>
            <td class="tdsmall" *ngIf="group == 'Group1'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category2"/>
            </td>
            <td class="tdsmall" *ngIf="group == 'Group1'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category3"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group2'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.price"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group2'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.brand"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group2'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.size"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group2'">
                <md-slide-toggle [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" [ngModel]="product.activatedPim"
                                 (change)="onProductActivatedPimChange($event, product)"></md-slide-toggle>
            </td>
            <td class="tdlarge" *ngIf="group == 'Group2'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.pictureUrl"/>
            </td>
            <td class="tdlarge" *ngIf="group == 'Group2'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.description"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.offerId" readonly="true"/>
            </td>
            <td class="tdlarge" *ngIf="group == 'Group1'">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.offerName"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [ngModel]="product.offer?.combType"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [ngModel]="product.offer?.demandId"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [ngModel]="product.offer?.demandCount"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [ngModel]="product.offer?.benefitId"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [ngModel]="product.offer?.discount"/>
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveOffer(product.offer)"
                       type="text"
                       [ngModel]="product.offer.combMax"/>
            </td>
            <td class="tdsmall" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" class="wide" [class.selected]="product.id === selectedProduct.id"
                       type="text"
                       placeholder="yyyy-mm-dd"
                       [ngModel]="formatDate(product.offer.validFrom)" (change)="onOfferChangeValidFrom(product.offer, $event.target.value)" />
            </td>
            <td class="tdsmall" *ngIf="group == 'Group1'">
                <input *ngIf="product.offer != null" class="wide" [class.selected]="product.id === selectedProduct.id"
                       type="text"
                       placeholder="yyyy-mm-dd"
                       [ngModel]="formatDate(product.offer.validTo)" (change)="onOfferChangeValidTo(product.offer, $event.target.value)" />
            </td>
            <td class="tdtiny" *ngIf="group == 'Group1'">
                <md-slide-toggle *ngIf="product.offer != null" [class.selected]="product.id === selectedProduct.id" [(ngModel)]="product.offer.suspended"
                                 (change)="onOfferSuspendedChange($event, product.offer)"></md-slide-toggle>
            </td>
        </tr>
        </tbody>
    </table>
</div>