.message-box {
    position: fixed;
    top: 10px;
    background: white;
    padding: 15px;
    z-index: 10;
    border: 1px solid silver;
    left: 20%;
    right: 20%;
}

.message-box.error{
    color: red;
}

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  color: #888;
}

td input.datepicker__input, td input[type="text"], td input[type="date"], td select, td textarea {
  color: #888  !important;
  font-family: Cambria, Georgia !important;
  background-color: transparent !important;
  border: 0px solid !important;
  font-size: 12px;
}


td input.datepicker__input:focus, td input:focus, td select:focus, td textarea:focus {
  border: 1px solid #66afe9 !important;
  border-radius: 4px;
  outline: 0;
  background-color: white !important;
}

.text-muted {
    color: #999;
    font-weight: bold;
}

a {
  cursor: pointer;
  cursor: hand;
}

/* Navigation link styles */
nav {
    text-align: right;
    margin-bottom: 10px;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
  background-color: #CFD8DC;
}

.wide {
  width: 100%;
}


/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

tr.selected {
  background-color: #CFD8DC !important;
  font-weight: bold;
}

tr.unassigned input {
  color: #039be5 !important;
}


.spinner {
  top: 0;
  left:0;
  width: 40px;
  height: 40px;
  position: absolute;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

md-slide-toggle {
    margin: 0 !important;
}

.datepicker__input {
    width: 100% !important;
}

.top-container {
    width: 100%;
    min-width: 1000px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 5px 5px 0 5px;
    margin-bottom: 2px;
}

table.top-container-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
table.top-container-table thead, table.top-container-table tbody {
    float: left;
    width: 100%;
}
table.top-container-table tbody {
     height: 272px;
 }
table tbody {
    border-bottom: 1px solid silver;
}

table.top-container-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: left;
    height: 24px;
}

table.top-container-table th.th1, table.top-container-table td.td1 {
    width: 5%;
}
table.top-container-table th.th2, table.top-container-table td.td2 {
    width: 25%;
}
table.top-container-table th.th3, table.top-container-table td.td3 {
    width: 5%;
}
table.top-container-table th.th4, table.top-container-table td.td4 {
    width: 5%;
}
table.top-container-table th.th5, table.top-container-table td.td5 {
    width: 5%;
}
table.top-container-table th.th6, table.top-container-table td.td6 {
    width: 5%;
}
table.top-container-table th.th7, table.top-container-table td.td7 {
    width: 5%;
}
table.top-container-table th.th8, table.top-container-table td.td8 {
    width: 10%;
}
table.top-container-table th.th9, table.top-container-table td.td9 {
    width: 15%;
}
table.top-container-table th.th10, table.top-container-table td.td10 {
    width: 15%;
}
table.top-container-table th.thlast, table.top-container-table td.tdlast {
    width: 5%;
}
table.top-container-table th.thall, table.top-container-table td.tdall {
    width: 100%;
    text-align: center;
}


.left-container {
    width: 54.9%;
    min-width: 550px;
    float: left;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 5px 5px 0 5px;
}

table.left-container-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
table.left-container-table thead, table.left-container-table tbody {
    float: left;
    width: 100%;
}
table.left-container-table tbody {
    height: 240px;
}
table.left-container-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: left;
    height: 24px;
}
table.left-container-table th.thlast, table.left-container-table td.tdlast {
    width: 5%;
}
table.left-container-table th.thtiny, table.left-container-table td.tdtiny {
    width: 5%;
}
table.left-container-table th.thsmall, table.left-container-table td.tdsmall {
    width: 10%;
}
table.left-container-table th.thlarge, table.left-container-table td.tdlarge {
    width: 20%;
}
table.left-container-table th.thall, table.left-container-table td.tdall {
    width: 100%;
    text-align: center;
}


.right-container {
    width: 45%;
    min-width: 450px;
    margin-left: 55%;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 5px 5px 0 5px;
}

table.right-container-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
table.right-container-table thead, table.right-container-table tbody {
    float: left;
    width: 100%;
}
table.right-container-table tbody {
    height: 240px;
}
table.right-container-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: left;
    height: 24px;
}
table.right-container-table th.thtiny, table.right-container-table td.tdtiny {
    width: 5%;
}
table.right-container-table th.thsmall, table.right-container-table td.tdsmall {
    width: 10%;
}
table.right-container-table th.thlarge, table.right-container-table td.tdlarge {
    width: 20%;
}
table.right-container-table th.thall, table.right-container-table td.tdall {
    width: 100%;
    text-align: center;
}

.product-container {
    width: 100%;
    min-width: 1000px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 5px 5px 0 5px;
    margin-bottom: 2px;
}

table.product-container-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
table.product-container-table thead, table.product-container-table tbody {
    float: left;
    width: 100%;
}
table.product-container-table tbody {
    overflow-y: auto;
    height: 500px;
}
table.product-container-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: left;
    height: 24px;
}

table.product-container-table th.thtiny, table.product-container-table td.tdtiny {
    width: 5%;
}
table.product-container-table th.thsmall, table.product-container-table td.tdsmall {
    width: 10%;
}
table.product-container-table th.thlarge, table.product-container-table td.tdlarge {
    width: 20%;
}
table.product-container-table th.thall, table.product-container-table td.tdall {
    width: 100%;
    text-align: center;
}


.details-container {
    width: 100%;
    min-width: 1000px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 5px 5px 0 5px;
    min-height: 100px;
}

table.details-container-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
table.details-container-table thead, table.details-container-table tbody {
    float: left;
    width: 100%;
}
table.details-container-table tbody {
    height: 240px;
}
table.details-container-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: left;
    height: 24px;
}

table.details-container-table th.thtiny, table.details-container-table td.tdtiny {
    width: 5%;
}
table.details-container-table th.thsmall, table.details-container-table td.tdsmall {
    width: 10%;
}
table.details-container-table th.thlarge, table.details-container-table td.tdlarge {
    width: 20%;
}
table.details-container-table th.thall, table.details-container-table td.tdall {
    width: 100%;
    text-align: center;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tfoot>tr>td {
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.table>tbody>tr>td{
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 5px;
    padding-bottom: 0px;
}


.table>thead>tr>th {
    font-size: 12px;
}
th{
    border-bottom: 1px solid #ddd !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.invalid {
    outline: solid 1px red !important;
}

.btn.btn-default>span.ui-select-match-text{
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    padding-right: 20px;
}

.btn.btn-default>a.btn.btn-xs{
    position: absolute;
    right: 5px;
}
.btn.btn-default>i.caret.pull-right{
    right: 5px !important;
}
.pagination-block{
    text-align: center;
    height: 26px;
}
.offer-btn-group{
    position: absolute;
    top: 35px;
    left: 10px;
}
.caption-header{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 4px;
}
.position-relative{
    position: relative;
}
.perfect-scroll-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 240px;
}
table{
    margin-bottom: 10px !important;
}
table thead{
    margin-bottom: 1px !important;
}
.close-btn{
    position: absolute;
    right: 10px;
    top: 5px;
}