<div class="top-container container-fluid">
    <h2>
        <span *ngIf="offerType == 'New'">New Offers</span>
        <span *ngIf="offerType != 'New'">Offers</span>
        <span *ngIf="canGetOffers()">{{getOfferWith()}}</span>
    </h2>
    <div class="error" *ngIf="error">{{error}}</div>
    <div class="row">
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="category1values"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferCategory1Select($event)"
                       (removed)="onOfferCategory1Select({'id':'','text':''})"
                       placeholder="Category1...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="category2values"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferCategory2Select($event)"
                       (removed)="onOfferCategory2Select({'id':'','text':''})"
                       placeholder="Category2...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="category3values"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferCategory3Select($event)"
                       (removed)="onOfferCategory3Select({'id':'','text':''})"
                       placeholder="Category3...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="brands"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferBrandSelect($event)"
                       (removed)="onOfferBrandSelect({'id':'','text':''})"
                       placeholder="Brand...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="prices"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferPriceSelect($event)"
                       (removed)="onOfferPriceSelect({'id':'','text':''})"
                       placeholder="Price...">
            </ng-select>
        </div>
        <div class="form-group col-md-1">
            <ng-select [allowClear]="true"
                       [items]="sizes"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferSizeSelect($event)"
                       (removed)="onOfferSizeSelect({'id':'','text':''})"
                       placeholder="Size...">
            </ng-select>
        </div>
        <div class="form-group col-md-1">
            <ng-select [allowClear]="false"
                       [items]="offerTypes"
                       [active]="offerTypeSelected"
                       (selected)="onOfferTypeSelect($event)">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn btn-default" (click)="addOffer()">New Offer...</button>
        </div>
    </div>
    <table class="table table-striped top-container-table">
        <thead>
        <tr>
            <th class="th1">
                <input [disabled]="addingOffer" placeholder="ID" title="ID" class="form-control" type="text"
                       (ngModelChange)="onOfferIdSearch($event)" [(ngModel)]="offerIdSearch"/>
            </th>
            <th class="th2">
                <input [disabled]="addingOffer" placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onOfferNameSearch($event)" [(ngModel)]="offerNameSearch"/>
            </th>
            <th class="th3">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="combTypes"
                           (selected)="onOfferCombTypeSearch($event)"
                           (removed)="onOfferCombTypeSearch({'id':'','text':''})"
                           placeholder="CT" title="Combination Type">
                </ng-select>
            </th>
            <th class="th4">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="demandIds"
                           (selected)="onOfferDemandIdSearch($event)"
                           (removed)="onOfferDemandIdSearch({'id':'','text':''})"
                           placeholder="DID" title="Demand ID">
                </ng-select>
            </th>
            <th class="th5">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="demandCounts"
                           (selected)="onOfferDemandCountSearch($event)"
                           (removed)="onOfferDemandCountSearch({'id':'','text':''})"
                           placeholder="DCN" title="Demand Count">
                </ng-select>
            </th>
            <th class="th6">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="benefitIds"
                           (selected)="onOfferBenefitIdSearch($event)"
                           (removed)="onOfferBenefitIdSearch({'id':'','text':''})"
                           placeholder="BID" title="Benefit ID">
                </ng-select>
            </th>
            <th class="th7">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="discounts"
                           (selected)="onOfferDiscountSearch($event)"
                           (removed)="onOfferDiscountSearch({'id':'','text':''})"
                           placeholder="DISC" title="Discount">
                </ng-select>
            </th>
            <th class="th8">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="combMaxs"
                           (selected)="onOfferCombMaxSearch($event)"
                           (removed)="onOfferCombMaxSearch({'id':'','text':''})"
                           placeholder="CM" title="Comb Max">
                </ng-select>
            </th>
            <th class="th9">
                <input placeholder="Valid From" title="Valid From" class="form-control" type="text"
                       [disabled]="addingOffer" (ngModelChange)="onOfferValidFromSearch($event)"
                       [(ngModel)]="offerValidFromSearch"/>
            </th>
            <th class="th10">
                <input placeholder="Valid To" title="Valid To" class="form-control" type="text"
                       [disabled]="addingOffer" (ngModelChange)="onOfferValidToSearch($event)"
                       [(ngModel)]="offerValidToSearch"/>
            </th>
            <th class="thlast">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="yesno"
                           (selected)="onOfferSuspendedSearch($event)"
                           (removed)="onOfferSuspendedSearch({'id':'','text':''})"
                           placeholder="SUS" title="Suspended">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="!addingOffer">
        <tr *ngFor="let offer of offers" (mousedown)="onOfferSelect(offer);true"
            [class.selected]="offer.id === selectedOffer.id">
            <td class="td1">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide"
                       type="text"
                       [(ngModel)]="offer.id" readonly="true"/>
            </td>
            <td class="td2">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.name"/>
            </td>
            <td class="td3">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.combType"/>
            </td>
            <td class="td4">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.demandId"/>
            </td>
            <td class="td5">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.demandCount"/>
            </td>
            <td class="td6">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.benefitId"/>
            </td>
            <td class="td7">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.discount"/>
            </td>
            <td class="td8">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.combMax"/>
            </td>
            <td class="td9">
                <material-datepicker (blur)="saveOffer(offer)" [(date)]="offer.validFrom"></material-datepicker>
            </td>
            <td class="td10">
                <material-datepicker (blur)="saveOffer(offer)" [(date)]="offer.validTo"></material-datepicker>
            </td>
            <td class="tdlast">
                <md-slide-toggle [class.selected]="offer.id === selectedOffer.id" [(ngModel)]="offer.suspended"
                                 (change)="onOfferSuspendedChange($event, offer)"></md-slide-toggle>
            </td>
        </tr>
        <tr *ngIf="!canGetOffers()">
            <td class="tdall" colspan="11">Select at least one filter above...</td>
        </tr>
        </tbody>
        <tbody *ngIf="addingOffer">
        <tr [class.selected]="true">
            <td class="td1">
                <input [class.selected]="true" readonly="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.id"/>
            </td>
            <td class="td2">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.name"/>
            </td>
            <td class="td3">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.combType"/>
            </td>
            <td class="td4">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.demandId"/>
            </td>
            <td class="td5">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.demandCount"/>
            </td>
            <td class="td6">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.benefitId"/>
            </td>
            <td class="td7">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.discount"/>
            </td>
            <td class="td8">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.combMax"/>
            </td>
            <td class="td9">
                <material-datepicker [(date)]="offer.validFrom"></material-datepicker>
            </td>
            <td class="td10">
                <material-datepicker [(date)]="offer.validTo"></material-datepicker>
            </td>
            <td class="tdlast">
                <md-slide-toggle [class.selected]="true" [(ngModel)]="offer.suspended"
                                 (change)="onNewOfferSuspendedChange($event, offer)">
                </md-slide-toggle>
            </td>
        </tr>
        <tr>
            <td colspan="11" class="wide">
                <button class="btn btn-default" (click)="saveOffer(offer)">Save</button>
                <button class="btn btn-default" (click)="closeOffer()">Cancel</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="left-container">
    <div class="form-group">
        <div class="form-group">
            <label for="sel1">Category1:</label>
            <select class="form-control" id="sel1" [ngModel]="category1" (ngModelChange)="onCategory1Select($event)">
                <option *ngFor="let category of category1values">{{category}}</option>
            </select>
            <label for="sel2">Category2:</label>
            <select class="form-control" id="sel2" [ngModel]="category2" (ngModelChange)="onCategory2Select($event)">
                <option *ngFor="let category of category2values">{{category}}</option>
            </select>
            <label for="sel3">Category3:</label>
            <select class="form-control" id="sel3" [ngModel]="category3" (ngModelChange)="onCategory3Select($event)">
                <option *ngFor="let category of category3values">{{category}}</option>
            </select>
        </div>
        <div class="input-group">
             <span class="input-group-addon">
                 <label>Not Offered Products?</label>
                <input type="checkbox" [(ngModel)]="unoffered" (ngModelChange)="onUnofferedSelect($event)">
            </span>
        </div>
    </div>
    <h2 *ngIf="!unoffered && !category1">Products</h2>
    <h2 *ngIf="unoffered && !category1">Not Offered Products</h2>
    <h2 *ngIf="unoffered && category1">Not Offered Products in Category: {{category1}}</h2>
    <h2 *ngIf="!unoffered && category1">Products in Category: {{category1}}</h2>
    <table class="table table-striped left-container-table">
        <thead>
        <th class="zero">Id</th>
        <th class="first">Name</th>
        <th class="second">Category</th>
        <th class="third">Offer</th>
        <th class="fourth">PIM Activated</th>
        <th class="fifth"></th>
        <th class="last"></th>
        </thead>
        <tbody>
        <tr *ngFor="let product of products" (mousedown)="onProductSelect(product);true"
            [class.selected]="product.id === selectedProduct.id"
            [class.available]="product.offer === ''">
            <td class="zero">
                <input [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       readonly="true" [(ngModel)]="product.id"/>
            </td>
            <td class="first">
                <input [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [(ngModel)]="product.name" (blur)="saveProduct(product)"/>
            </td>
            <td class="second">
                <input [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [(ngModel)]="product.category1" (blur)="saveProduct(product)"/>
            </td>
            <td class="third">
                <input [class.selected]="product.id === selectedProduct.id" class="wide"
                       type="text"
                       [(ngModel)]="product.offer" (blur)="saveProduct(product)"/>
            </td>
            <td class="fourth">
                <input
                        type="checkbox"
                        [(ngModel)]="product.activatedPim" (ngModelChange)="onActiveChange($event, product)"/>
            </td>
            <td class="fifth"></td>
            <td class="last"><a class="middle" *ngIf="selectedOffer.id != '' && product.offer == ''"
                                (click)="assignSelectedOffer(product)"><img src="images/arrow_right.png"/></a></td>
        </tr>
        <tr *ngIf="!category1 && !unoffered">
            <td colspan="4" style="text-align: center">Select Category/Not Offered</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="right-container2">
    <h2 *ngIf="selectedOffer.id == ''">Offer Products</h2>
    <h2 *ngIf="selectedOffer.id != ''">Offer Products: {{selectedOffer.name}}</h2>
    <div>
        <table class="table table-striped right-container2-table">
            <thead>
            <th class="zero">Id</th>
            <th class="first">Name</th>
            <th class="second">Category</th>
            <th class="third">Offer</th>
            <th class="fourth">PIM Activated</th>
            <th class="fifth"></th>
            <th class="last"></th>
            </thead>
            <tbody>
            <tr *ngFor="let product of offerProducts">
                <td class="zero">
                    <input [class.selected]="product.id === selectedProduct.id" class="wide"
                           type="text"
                           [(ngModel)]="product.id" readonly="true"/>
                </td>
                <td class="first">
                    <input [class.selected]="product.id === selectedProduct.id" class="wide"
                           type="text"
                           [(ngModel)]="product.name" (blur)="saveProduct(product)"/>
                </td>
                <td class="second">
                    <input [class.selected]="product.id === selectedProduct.id" class="wide"
                           type="text"
                           [(ngModel)]="product.category1" (blur)="saveProduct(product)"/>
                </td>
                <td class="third">
                    <input [class.selected]="product.id === selectedProduct.id" class="wide"
                           type="text"
                           [(ngModel)]="product.offer" (blur)="saveProduct(product)"/>
                </td>
                <td class="fourth">
                    <input
                            type="checkbox"
                            [(ngModel)]="product.activatedPim" (ngModelChange)="onActiveChange($event, product)"/>
                </td>
                <td class="fifth"></td>
                <td class="last"></td>
            </tr>
            <tr *ngIf="selectedOffer.id == ''">
                <td colspan="4" style="text-align: center">Select Offer</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
