<div class="top-container">
    <h2>
        <span *ngIf="offerType == 'New'">New Offers</span>
        <span *ngIf="offerType != 'New'">Offers</span>
        <span *ngIf="canGetOffers()">{{getOfferWith()}}</span>
    </h2>
    <div class="error" *ngIf="error">{{error}}</div>
    <div class="row">
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="category1values"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferCategory1Select($event)"
                       (removed)="onOfferCategory1Select({'id':'','text':''})"
                       placeholder="Category1...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="category2values"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferCategory2Select($event)"
                       (removed)="onOfferCategory2Select({'id':'','text':''})"
                       placeholder="Category2...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="category3values"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferCategory3Select($event)"
                       (removed)="onOfferCategory3Select({'id':'','text':''})"
                       placeholder="Category3...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="brands"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferBrandSelect($event)"
                       (removed)="onOfferBrandSelect({'id':'','text':''})"
                       placeholder="Brand...">
            </ng-select>
        </div>
        <div class="form-group col-md-2">
            <ng-select [allowClear]="true"
                       [items]="prices"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferPriceSelect($event)"
                       (removed)="onOfferPriceSelect({'id':'','text':''})"
                       placeholder="Price...">
            </ng-select>
        </div>
        <div class="form-group col-md-1">
            <ng-select [allowClear]="true"
                       [items]="sizes"
                       [disabled]="offerType == 'New'"
                       (selected)="onOfferSizeSelect($event)"
                       (removed)="onOfferSizeSelect({'id':'','text':''})"
                       placeholder="Size...">
            </ng-select>
        </div>
        <div class="form-group col-md-1">
            <ng-select [allowClear]="false"
                       [items]="offerTypes"
                       [active]="offerTypeSelected"
                       (selected)="onOfferTypeSelect($event)">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn btn-default" (click)="addOffer()">New Offer...</button>
        </div>
    </div>
    <table class="table table-striped top-container-table">
        <thead>
        <tr>
            <th class="th1">
                <input [disabled]="addingOffer" placeholder="ID" title="ID" class="form-control" type="text"
                       (ngModelChange)="onOfferIdSearch($event)" [(ngModel)]="offerIdSearch"/>
            </th>
            <th class="th2">
                <input [disabled]="addingOffer" placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onOfferNameSearch($event)" [(ngModel)]="offerNameSearch"/>
            </th>
            <th class="th3">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="combTypes"
                           (selected)="onOfferCombTypeSearch($event)"
                           (removed)="onOfferCombTypeSearch({'id':'','text':''})"
                           placeholder="CT" title="Combination Type">
                </ng-select>
            </th>
            <th class="th4">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="demandIds"
                           (selected)="onOfferDemandIdSearch($event)"
                           (removed)="onOfferDemandIdSearch({'id':'','text':''})"
                           placeholder="DID" title="Demand ID">
                </ng-select>
            </th>
            <th class="th5">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="demandCounts"
                           (selected)="onOfferDemandCountSearch($event)"
                           (removed)="onOfferDemandCountSearch({'id':'','text':''})"
                           placeholder="DCN" title="Demand Count">
                </ng-select>
            </th>
            <th class="th6">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="benefitIds"
                           (selected)="onOfferBenefitIdSearch($event)"
                           (removed)="onOfferBenefitIdSearch({'id':'','text':''})"
                           placeholder="BID" title="Benefit ID">
                </ng-select>
            </th>
            <th class="th7">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="discounts"
                           (selected)="onOfferDiscountSearch($event)"
                           (removed)="onOfferDiscountSearch({'id':'','text':''})"
                           placeholder="DISC" title="Discount">
                </ng-select>
            </th>
            <th class="th8">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="combMaxs"
                           (selected)="onOfferCombMaxSearch($event)"
                           (removed)="onOfferCombMaxSearch({'id':'','text':''})"
                           placeholder="CM" title="Comb Max">
                </ng-select>
            </th>
            <th class="th9">
                <input placeholder="Valid From" title="Valid From" class="form-control" type="text"
                       [disabled]="addingOffer" (ngModelChange)="onOfferValidFromSearch($event)"
                       [(ngModel)]="offerValidFromSearch"/>
            </th>
            <th class="th10">
                <input placeholder="Valid To" title="Valid To" class="form-control" type="text"
                       [disabled]="addingOffer" (ngModelChange)="onOfferValidToSearch($event)"
                       [(ngModel)]="offerValidToSearch"/>
            </th>
            <th class="thlast">
                <ng-select class="wide" [allowClear]="true"
                           [disabled]="addingOffer"
                           [items]="yesno"
                           (selected)="onOfferSuspendedSearch($event)"
                           (removed)="onOfferSuspendedSearch({'id':'','text':''})"
                           placeholder="SUS" title="Suspended">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="!addingOffer">
        <tr *ngFor="let offer of offers" (mousedown)="onOfferSelect(offer);true"
            [class.selected]="offer.id === selectedOffer.id">
            <td class="td1">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide"
                       type="text"
                       [(ngModel)]="offer.id" readonly="true"/>
            </td>
            <td class="td2">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.name"/>
            </td>
            <td class="td3">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.combType"/>
            </td>
            <td class="td4">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.demandId"/>
            </td>
            <td class="td5">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.demandCount"/>
            </td>
            <td class="td6">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.benefitId"/>
            </td>
            <td class="td7">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.discount"/>
            </td>
            <td class="td8">
                <input [class.selected]="offer.id === selectedOffer.id" class="wide" (blur)="saveOffer(offer)"
                       type="text"
                       [(ngModel)]="offer.combMax"/>
            </td>
            <td class="td9">
                <material-datepicker (onSelect)="saveOffer(offer)" [(date)]="offer.validFrom"></material-datepicker>
            </td>
            <td class="td10">
                <material-datepicker (onSelect)="saveOffer(offer)" [(date)]="offer.validTo"></material-datepicker>
            </td>
            <td class="tdlast">
                <md-slide-toggle [class.selected]="offer.id === selectedOffer.id" [(ngModel)]="offer.suspended"
                                 (change)="onOfferSuspendedChange($event, offer)"></md-slide-toggle>
            </td>
        </tr>
        <tr *ngIf="!canGetOffers()">
            <td class="tdall" colspan="11">Select at least one filter above...</td>
        </tr>
        </tbody>
        <tbody *ngIf="addingOffer">
        <tr [class.selected]="true">
            <td class="td1">
                <input [class.selected]="true" readonly="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.id"/>
            </td>
            <td class="td2">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.name"/>
            </td>
            <td class="td3">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.combType"/>
            </td>
            <td class="td4">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.demandId"/>
            </td>
            <td class="td5">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.demandCount"/>
            </td>
            <td class="td6">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.benefitId"/>
            </td>
            <td class="td7">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.discount"/>
            </td>
            <td class="td8">
                <input [class.selected]="true" class="wide"
                       type="text"
                       [(ngModel)]="offer.combMax"/>
            </td>
            <td class="td9">
                <material-datepicker [(date)]="offer.validFrom"></material-datepicker>
            </td>
            <td class="td10">
                <material-datepicker [(date)]="offer.validTo"></material-datepicker>
            </td>
            <td class="tdlast">
                <md-slide-toggle [class.selected]="true" [(ngModel)]="offer.suspended"
                                 (change)="onNewOfferSuspendedChange($event, offer)">
                </md-slide-toggle>
            </td>
        </tr>
        <tr>
            <td colspan="11" class="wide">
                <button class="btn btn-default" (click)="saveOffer(offer)">Save</button>
                <button class="btn btn-default" (click)="closeOffer()">Cancel</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="left-container">
    <div>
        <span *ngIf="offerType == 'New'">Non-Assigned Products</span>
        <span *ngIf="offerType != 'New'">Products</span>
        <span *ngIf="canGetProducts()">{{getProductWith()}}</span>
    </div>
    <table class="table table-striped left-container-table">
        <thead>
        <tr>
            <th class="th1">
                <input placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onProductNameSearch($event)" [(ngModel)]="productNameSearch"/>
            </th>
            <th class="th2">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category1values"
                           (selected)="onProductCategory1Search($event)"
                           [active]="productCategory1Selected"
                           (removed)="onProductCategory1Search({'id':'','text':''})"
                           placeholder="Category1" title="Categry1">
                </ng-select>
            </th>
            <th class="th3">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category2values"
                           (selected)="onProductCategory2Search($event)"
                           [active]="productCategory2Selected"
                           (removed)="onProductCategory2Search({'id':'','text':''})"
                           placeholder="Category2" title="Categry2">
                </ng-select>
            </th>
            <th class="th4">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category3values"
                           (selected)="onProductCategory3Search($event)"
                           [active]="productCategory3Selected"
                           (removed)="onProductCategory3Search({'id':'','text':''})"
                           placeholder="Category3" title="Categry3">
                </ng-select>
            </th>
            <th class="th5">
                <input placeholder="OID" title="Offer ID" class="form-control" type="text"
                       (ngModelChange)="onProductOfferIdSearch($event)" [(ngModel)]="productOfferIdSearch"/>
            </th>
            <th class="th6">
                <input placeholder="Offer" title="Offer Name" class="form-control" type="text"
                       (ngModelChange)="onProductOfferNameSearch($event)" [(ngModel)]="productOfferNameSearch"/>
            </th>
            <th class="thlast">
                <ng-select class="wide" [allowClear]="true"
                           [items]="yesno"
                           (selected)="onProductOfferAssignedSearch($event)"
                           (removed)="onProductOfferAssignedSearch({'id':'','text':''})"
                           placeholder="OA" title="Offer Assigned?">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products" (mousedown)="onProductSelect(product);true"
            [class.selected]="product.id === selectedProduct.id" [class.unassigned]="product.offerId == ''">
            <td class="td1">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.name"/>
            </td>
            <td class="td2">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category1"/>
            </td>
            <td class="td3">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category2"/>
            </td>
            <td class="td4">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category3"/>
            </td>
            <td class="td5">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text" readonly="true"
                       [(ngModel)]="product.offerId"/>
            </td>
            <td class="td6">
                <input [class.unassigned]="product.offerId == ''" [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.offerName"/>
            </td>
            <td class="tdlast">
                <a style="float:right;" title="Move this product into {{selectedOffer.id}} offer!" *ngIf="selectedOffer.id != '' && selectedOffer.id != product.offerId" (click)="assignSelectedOffer(product)"><span class="glyphicon glyphicon-triangle-right"></span></a>
                <a style="float:right;" title="Create New Offer based on this product" *ngIf="product.offerId == '' && addingOffer == false" (click)="newOfferFromProduct(product)"><span class="glyphicon glyphicon-asterisk"></span></a>
            </td>
        </tr>
        <tr *ngIf="!canGetProducts()">
            <td class="tdall" colspan="8">Select at least one filter above...</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="right-container">
    <div>
        <span *ngIf="addingOffer == true">New Offer Products</span>
        <span *ngIf="addingOffer == false && selectedOffer.id != ''">Offer {{selectedOffer.id}} Products</span>
        <span *ngIf="addingOffer == false && selectedOffer.id == ''">Offer Products</span>
    </div>
    <table class="table table-striped right-container-table">
        <thead>
        <tr>
            <th class="th1">
                <input placeholder="Name" title="Name" class="form-control" type="text"
                       (ngModelChange)="onSelectedOfferProductNameSearch($event)" [(ngModel)]="selectedOfferProductNameSearch"/>
            </th>
            <th class="th2">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category1values"
                           (selected)="onSelectedOfferProductCategory1Search($event)"
                           (removed)="onSelectedOfferProductCategory1Search({'id':'','text':''})"
                           placeholder="Category1" title="Categry1">
                </ng-select>
            </th>
            <th class="th3">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category2values"
                           (selected)="onSelectedOfferProductCategory2Search($event)"
                           (removed)="onSelectedOfferProductCategory2Search({'id':'','text':''})"
                           placeholder="Category2" title="Categry2">
                </ng-select>
            </th>
            <th class="th4">
                <ng-select class="wide" [allowClear]="true"
                           [items]="category3values"
                           (selected)="onSelectedOfferProductCategor3Search($event)"
                           (removed)="onSelectedOfferProductCategory3Search({'id':'','text':''})"
                           placeholder="Category3" title="Categry3">
                </ng-select>
            </th>
            <th class="thlast">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of offerProducts" (mousedown)="onProductSelect(product);true"
            [class.selected]="product.id === selectedProduct.id">
            <td class="td1">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.name"/>
            </td>
            <td class="td2">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category1"/>
            </td>
            <td class="td3">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category2"/>
            </td>
            <td class="td4">
                <input [class.selected]="product.id === selectedProduct.id" class="wide" (blur)="saveProduct(product)"
                       type="text"
                       [(ngModel)]="product.category3"/>
            </td>
            <td class="tdlast">

            </td>
        </tr>
        <tr *ngIf="selectedOffer.id == '' && addingOffer == false">
            <td class="tdall" colspan="5">Select offer from list above...</td>
        </tr>
        </tbody>
    </table>
</div>

